/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }

*/

@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


/* ----- =structure ----- */

body {
	background-color: #fff;
}
header {
	height: 120px;
	background-color: #fff;
}
#content {
	padding-top: 60px;
	min-height: 400px;
}
footer {
	height: 100px;
	background-color: #bdcbd9;
}
.wrapper {
	width: 980px;
	margin: auto;
}
.wrapper:after {
	content: "";
	display: table;
	clear: both;
}


/* ----- =logo ----- */

header h1 {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
	margin: 0 0 0 20px;
}
header h1 a {
	text-decoration: none;
	color: #8f99a4;
}
header h1 a:hover {
	color: #777;
}



/* ----- =footer ----- */

footer {
	text-align: center;	
}
footer #copyright {
	color: #fff;
	padding-top: 20px;
}


/* ----- =full background images ----- */

.bg-full-image {
	position: relative;
	min-width: 980px;
}
.bg-full-image img {
	display: block;
	width: 100%;
	border: 1px #b4b4b4 solid;
}
.bg-color-band {
    height: 20px;
	background-color: #c8d6e3;	
	border: 1px solid #b7c4d0;
}
 
.full-width {
	width: 100%;	
}

/* ----- =type ----- */

h2 {
	font-family: Quattrocento, sans-serif;
	font-size: 36px;
	color: red;
}
h3 {
	font-family: Quattrocento, sans-serif;
	font-size: 24px;
	color: #363636;
}
p {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #777;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
a:link {
	color: #8f99a4;
	text-decoration: none;
}
em {
	font-size: 14px;
	line-height: 18px;
	padding-top: 10px;
	display: block;
	color: #999;
}

	

